services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: sandeep
      POSTGRES_USER: sandeepcode
      POSTGRES_PASSWORD: sandeepsutharcode
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432" 

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  pgdata:
